android/gradle.properties
local.properties
tests/AndroidManifest.xml
build
.gradle
out/
bin/
gen/
gobandroid.iml
gobandroid.properties
gobandroid.xml
module_gobandroid.xml  
project.properties
.classpath
.idea/
.project
.settings/
lint.xml
module_gobandroid.xml
monkey_scripts/
proguard/
proguard_logs/

